{% extends 'layouts/layout_page.html' %} {% from 'macros/_insumo.html' import
addIn, edin,slcMedida %} {% from 'macros/_insumo.html' import insumo_field,
slcPres, slcMedida %} {%
block title %}
Insumos - Cookies and Dreams{% endblock %} {% block content %}
<style>
    .flash-messages {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 100%;
        max-width: 600px;
        padding: 10px;
        color: #fff;
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    select,
    input[type="search"] {
        background-color: white !important;
    }
</style>
<section class="w-full h-screen flex flex-col">
    <!-- Flash meesage -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
    </div>

    <h1
        class="text-3xl font-bold text-primary mt-3 text-center">Insumos</h1>

    <div class="md:contaner px-4">
        <section class>
            <button class="btn btn-primary mt-2 float-end" id="btnAddInsumo">
                Agregar insumo
            </button>
        </section>
    </div>

    <div class="md:container px-4">
        <section class="mt-5">
            <div class="relative overflow-x-auto">
                <table
                    class="w-full text-md text-left rtl:text-right text-black"
                    id="tbl_insumos">
                    <thead
                        class="text-md uppercase bg-transparent text-center border-b-2 border-b-black">
                        <tr>
                            <th class="px-6 py-3" scope="col">Insumo</th>
                            <th class="px-6 py-3"
                                scope="col">Presentaci&oacute;n</th>
                            <th class="px-6 py-3" scope="col">Unidad de
                                medida</th>
                            <th class="px-6 py-3" scope="col">Precio de la
                                presentaci&oacute;n</th>
                            <th class="px-6 py-3" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="bg-transparent border-b text-center">
                        {% for insumo in insumos %}
                        <tr>
                            <td class="border px-6 py-3">{{ insumo.material
                                }}</td>
                            <td class="border px-6 py-3">{{ insumo.presentacion
                                }}</td>
                            <td class="border px-6 py-3">{{ insumo.medida
                                }}</td>
                            <td class="border px-6 py-3">{{ insumo.precio
                                }}</td>
                            <td class="border px-6 py-3">
                                <button type="button"
                                    class="btn btn-secondary text-black"
                                    id="edit_{{ insumo.materiaprima_id }}">
                                    Editar
                                </button>
                                <button type="button"
                                    class="btn btn-error text-white"
                                    id="del_{{ insumo.materiaprima_id }}">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>

<!-- Dialog Add Insumo -->
<form action="{{ url_for('insumos.new_insumo') }}" novalidate method="POST">
    <div class="card">
        <dialog class="dialog p-6 bg-white shadow-lg rounded-md"
            id="addDlgInsumo">
            <div class="dialog-title">
                <h3 class="text-lg font-bold">Agregar insumo</h3>
            </div>
            <div class="dialog-content">
                <div class="grid grid-cols-2 gap-4 mb-3 mt-3">
                    <div>
                        <input type="hidden" name="csrf_token"
                            value="{{ csrf_token() }}" />
                        <div class="mt-3">
                            {{ insumo_field(form.material) }}
                        </div>
                        <div class="mt-3">
                            {{ insumo_field(formMPP.proveedor_id) }}
                        </div>
                    </div>
                    <div>
                        <div class="mt-3">
                            {{ insumo_field(formMPP.tipo) }}
                        </div>
                        <div class="mt-3">
                            {{ insumo_field(formMPP.precio) }}
                        </div>
                    </div>
                </div>
                <div class="flex justify-end space-x-4 mt-4">
                    <button type="submit" class="btn btn-warning text-white">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-error text-white"
                        id="closeDlgAddInsumo">
                        Cancelar
                    </button>
                </div>
            </div>
        </dialog>
    </div>
</form>

<!-- Dialog Edit Insumo -->
<form action="{{ url_for('insumos.ed_insumo') }}" novalidate method="POST">
    <div class="card">
        <dialog class="dialog p-6 bg-white shadow-lg rounded-md"
            id="editDlgInsumo">
            <div class="dialog-title">
                <h3 class="text-lg font-bold">Modificar insumo insumo</h3>
            </div>
            <div class="dialog-content">
                <input type="hidden" name="csrf_token"
                    value="{{ csrf_token() }}" />
                <div id="editDlgInsumoBody">
                </div>
                <div class="flex justify-end space-x-4 mt-4">
                    <button type="submit" class="btn btn-warning">
                        Actualizar
                    </button>
                    <button type="button" class="btn btn-error text-white"
                        id="closeDlgEdInsumo">
                        Cancelar
                    </button>
                </div>
            </div>
        </dialog>
    </div>
</form>

<!-- Dialog Del Insumo -->
<form action="{{ url_for('insumos.del_insumo') }}" novalidate method="POST">
    <div class="card">
        <dialog class="dialog p-6 bg-white shadow-lg rounded-md"
            id="delDlgInsumo">
            <div class="dialog-title">
                <h3 class="text-lg font-bold">Eliminar insumo</h3>
            </div>
            <div class="dialog-content">
                <input type="hidden" name="csrf_token"
                    value="{{ csrf_token() }}" />
                <div id="delDlgInsumoBody">
                </div>
                <div class="flex justify-end space-x-4 mt-4">
                    <button type="submit" class="btn btn-warning text-white">
                        Eliminar
                    </button>
                    <button type="button" class="btn btn-error text-white"
                        id="closeDlgDelInsumo">
                        Cancelar
                    </button>
                </div>
            </div>
        </dialog>
    </div>
</form>

<script>
    var all_insumos = {{ insumos | tojson }};
    var proveedores = {{ prov | tojson }};

    const btnAddInsumo = document.getElementById('btnAddInsumo');
    const closeDlgAddInsumo = document.getElementById('closeDlgAddInsumo');
    const closeDlgEdInsumo = document.getElementById('closeDlgEdInsumo');
    const closeDlgDelInsumo = document.getElementById('closeDlgDelInsumo');
    const addDlgInsumo = document.getElementById('addDlgInsumo');
    const tblInsumos = document.getElementById('tbl_insumos');
    const precio_unitario = document.getElementById('precio_unitario');
    const editDlgInsumo = document.getElementById('editDlgInsumo');
    const editDlgInsumoBody = document.getElementById('editDlgInsumoBody');
    const delDlgInsumo = document.getElementById('delDlgInsumo');
    const delDlgInsumoBody = document.getElementById('delDlgInsumoBody');

    btnAddInsumo.addEventListener('click', () => {
        addDlgInsumo.showModal();
    });

    addDlgInsumo.addEventListener('close', () => {
        addDlgInsumo.querySelector('form').reset();
    });

    document.querySelectorAll('[id^="edit_"]').forEach((btn) => {
        btn.addEventListener('click', () => {
            const id = btn.id.split('_')[1];
            var newRow = '';
            var opt = '';

            proveedores.forEach((proveedor) => {
                opt += `<option value="${proveedor.id}">${proveedor.nombre_empresa}</option>`;
            });
            
            all_insumos.forEach((insumo) => {
                if (insumo.materiaprima_id == id) {
                    newRow = `
                    <div class="grid grid-cols-2 gap-4 mb-3 mt-3">
                        <div>
                            <input type="hidden" name="id" value="${id}" />
                            <div class="mt-3">
                                {{ edin("Material", "text", "material", "material", "${insumo.material}") }}
                            </div>
                            <div class="mt-3">
                                <label for="" class="text-gray-700">Proveedor</label>
                                <select name="proveedor" class="select select-bordered select-primary min-w-full max-w-xs text-black" required="False">
                                    <option selected value="" disabled>Seleccionar</option>
                                    ${opt}
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="mt-3">
                                <label for="presentacion">Presentaci&oacute;n</label>
                                <select name="presentacion" id="presentacion"
                                    class="select select-bordered select-primary min-w-full max-w-xs" required="False">
                                    <option value="${insumo.presentacion}" selected disabled>${insumo.presentacion}</option>
                                    <option value="Bolsa 100g">Bolsa 100g</option>
                                    <option value="Bolsa 250g">Bolsa 250g</option>
                                    <option value="Bolsa 500g">Bolsa 500g</option>
                                    <option value="Bolsas 1kg">Bolsas 1kg</option>
                                    <option value="Bolsas 5kg">Bolsas 5kg</option>
                                    <option value="Bolsas 25kg">Bolsas 25kg</option>
                                    <option value="Costal grande 50kg">Costal grande 50kg</option>
                                    <option value="Paquete 500g">Paquete 500g</option>
                                    <option value="Paquete 1kg">Paquete 1kg</option>
                                    <option value="Paquete 250g">Paquete 250g</option>
                                    <option value="Barra 100g">Barra 100g</option>
                                    <option value="Barra 250g">Barra 250g</option>
                                    <option value="Barra 500g">Barra 500g</option>
                                    <option value="Docena">Docena</option>
                                    <option value="Carton 18 huevos">Carton 18 huevos</option>
                                    <option value="Carton 30 huevos">Carton 30 huevos</option>
                                    <option value="Carton 60 huevos">Carton 60 huevos</option>
                                    <option value="Frasco 50ml">Frasco 50ml</option>
                                    <option value="Frascos 100ml">Frascos 100ml</option>
                                    <option value="Frasco 250ml">Frasco 250ml</option>
                                    <option value="Frasco 500ml">Frasco 500ml</option>
                                    <option value="Botella 250ml">Botella 250ml</option>
                                    <option value="Botella 500ml">Botella 500ml</option>
                                    <option value="Botella 1lt">Botella 1lt</option>
                                    <option value="Sobre 10g">Sobre 10g</option>
                                </select>
                            </div>
                            <div class="mt-3">
                                {{ edin("Precio unitario", "number", "precio", "precio", "${insumo.precio}") }}
                            </div>
                        </div>
                    </div>
                    `;
                }
            });

            editDlgInsumoBody.innerHTML = newRow;
            
            editDlgInsumo.showModal();
        });
    });

    closeDlgAddInsumo.addEventListener('click', () => {
        addDlgInsumo.close();
    });

    closeDlgEdInsumo.addEventListener('click', () => {
        editDlgInsumo.close();
    });

    document.querySelectorAll('[id^="del_"]').forEach((btn) => {
        btn.addEventListener('click', () => {
            const id = btn.id.split('_')[1];
            var newRow = '';

            all_insumos.forEach((insumo) => {
                if (insumo.materiaprima_id == id) {
                    newRow = `
                    <div class="grid grid-cols-2 gap-4 mb-3 mt-3">
                        <div>
                            <input type="hidden" name="id" value="${id}" />
                            <div class="mt-3">
                                <label for="material" class="text-gray-700">Materia prima</label>
                                <input class="input input-bordered input-primary min-w-full max-w-xs" type="text" id="material" name="material" value="${insumo.material}" required readonly>
                            </div>
                            <div class="mt-3">
                                <label for="proveedor" class="text-gray-700">Proveedor</label>
                                <input class="input input-bordered input-primary min-w-full max-w-xs" type="text" id="proveedor" name="proveedor" value="${insumo.empresa}" required readonly>
                            </div>
                        </div>
                        <div>
                            <div class="mt-3">
                                <label for="presentacion" class="text-gray-700">Presentaci&oacute;n</label>
                                <input class="input input-bordered input-primary min-w-full max-w-xs" type="text" id="presentacion" name="presentacion" value="${insumo.presentacion}" required readonly>
                            </div>
                            <div class="mt-3">
                                <label for="precio" class="text-gray-700">Precio unitario</label>
                                <input class="input input-bordered input-primary min-w-full max-w-xs" type="number" id="precio" name="precio" value="${insumo.precio}" required readonly>
                            </div>
                        </div>
                    </div>
                    `;
                }
            });

            delDlgInsumoBody.innerHTML = newRow;
            
            delDlgInsumo.showModal();
        });
    });

    closeDlgDelInsumo.addEventListener('click', () => {
        delDlgInsumo.close();
    });

    function regex(event){
        this.value = this.value.replace(/[^0-9]/g, '');
        this.value = this.value.replace(/^0+/, 1);
    }
</script>
{% endblock %}