{% extends 'layouts/layout.html' %} {% from 'macros/_button.html'
import Button %} {% from 'macros/_macros.html' import camposNuevos %}
{% block title %} Login - Don Galleto {% endblock %} {% block content
%}

<style>
	.flash-messages {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
		width: 100%;
		max-width: 600px;
		padding: 10px;
		color: #fff;
		text-align: center;
	}
</style>

<section
	class="w-full h-screen flex justify-center items-center flex-col"
>
	<div class="flash-messages">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %} {% for category, message in messages %}
		<div class="alert alert-{{ category }}">{{ message }}</div>
		{% endfor %} {% endif %} {% endwith %}
	</div>

	<form method="POST" novalidate>
		<div class="card w-96 bg-primary text-primary-content">
			<div class="card-body">
				<h2 class="card-title">Cambiar contraseña</h2>
				{{camposNuevos(form.password)}}
				{{camposNuevos(form.confirm_password)}}

				<input
					type="hidden"
					name="csrf_token"
					value="{{ csrf_token() }}"
				/>

				<div class="card-actions justify-end">
					<input
						type="submit"
						class="btn btn-secondary"
						value="Cambiar contraseña"
						name="enviar"
					/>
				</div>
			</div>
		</div>
	</form>
	<script>
		const flashMessage = document.querySelector('.flash-messages');
		if (flashMessage) {
			setTimeout(() => {
				flashMessage.remove();
			}, 5000);
		}
	</script>
</section>
{% endblock %}
