{% extends 'layouts/layout_page.html' %}
{% block content %}  
<style>
	.flash-messages {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
		width: 100%;
		max-width: 600px;
		padding: 10px;
		color: #fff;
		text-align: center;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='number'],
	input[type='date'],
	input[type='time'],
	input[type='datetime-local'],
	select,
	textarea,
	input[type='search'] {
		background-color: white !important;
	}
</style>

<div class="flash-messages">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{message}}</div>
          {% endfor %}
  {% endif %}
  {% endwith %}
</div>

  <div class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold text-primary mt-5 mb-4 text-center">Producción</h1>
    <!-- Contenedor para el botón con alineación a la derecha -->
    <div class="w-full flex justify-end me-5 mb-4">
        <a href={{url_for('produccion.revisar_solicitudes')}} class="btn btn-primary mt-4 me-5">Solicitudes de producción</a>
    </div>
</div>
<div class="flex justify-center">
  <div class="flex-grow table-container overflow-y-auto max-h-96 w-full max-w-3xl mr-5">
    <table class="mt-5 table w-full text-black">
      <!-- Encabezado de la tabla -->
      <thead>
        <tr>
          <th class="text-black text-lg text-center p-5">Tipo de Galleta</th>
          <th class="text-black text-lg text-center p-5">Cantidad</th>
          <th class="text-black text-lg text-center p-5">Producción Actual</th>
          <th class="text-black text-lg text-center p-5">Estatus</th>
          <th class="text-black text-lg text-center p-5">Acción</th> <!-- Nueva columna Agregar -->
        </tr>
      </thead>
      <tbody>
        {% for prod in produccion %}
        <!-- Buscar la solicitud correspondiente -->
        {% for sol in solicitud %}
        {% if sol.idSolicitud == prod.idSolicitud %}
        <tr>
          <td class="text-md text-center p-3">{{ prod.nombreGalleta }}</td>
          <td class="text-md text-center p-3">{{ sol.cantidad }}</td>
          <td class="text-md text-center p-3">{{ prod.produccionActual }}</td>
          <td class="text-md text-center p-3">
            {% if prod.estatus == 0 %}
            En producción
            {% elif prod.estatus == 1 %}
            Terminado
            {% else %}
            {{ prod.estatus }}
            {% endif %}
          </td>
          <td class="text-md text-center p-3">
            <button type="button" class="btn btn-primary agregar-btn" data-id="{{ prod.idProduccion }}">Editar</button> <!-- Botón Agregar -->
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-container ml-5 w-1/4 hidden" id="formularioContainer">
    <div class="card bg-white text-black shadow-lg rounded-lg p-5">
      <div class="card-header text-center">
        <h3 class="card-title font-bold">Agregar</h3>
      </div>
      <div class="card-body">
        <form class="flex flex-col items-center gap-5" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <!-- Input oculto para el ID de producción -->
          <input type="hidden" id="produccionId" name="id_produccion">
          
          <div class="w-full">
            <h5 for="tipoGalleta" class="font-bold text-lg mb-2 text-center">Lote de Galleta</h5>
            <!-- Se reemplaza el select por un input readonly -->
            <input type="text" class="form-input w-full" id="tipoGalleta" readonly name="tipo_galleta">
          </div>
          <!-- Input and button wrapper with flex and item alignment -->
          <div class="flex items-center w-full gap-2">
            <input type="number" class="form-input block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="cantidad" placeholder="Cantidad de lotes" name="cantidad_prod">
            <button type="submit" class="btn btn-primary" name="add_galleta">Agregar</button>
          </div>
          <div class="w-full">
            <h5 for="merma" class="font-bold text-lg mb-2 text-center">Merma</h5>
            <select class="form-select w-full" id="ingrediente" aria-label="Seleccione el ingrediente" name="ingrediente">
              <option value="" disabled selected>Selecciona el ingrediente</option>
              {% for item in materia %}
              <option value="{{ item.id }}" data-unidad="{{ item.tipo }}">{{ item.material }}</option>
              {% endfor %}
            </select>
            <input type="number" class="form-input block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="unidadMedida" placeholder="Unidad de medida" name="unidadMedida" readonly>
            <div class="flex items-center w-full gap-2 mt-3">
              <input type="number" class="form-input block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="cantidadIngrediente" placeholder="Cantidad" name="cantidadIngrediente">
              <button type="submit" class="btn btn-primary" name="add_merma">Agregar</button>
            </div>
            <div class="flex justify-center mt-5">
              <button type="button" class="btn btn-secondary" id="cancelarBtn">Cancelar</button>
              <button type="sutbmit" class="btn bg-red-500 ml-5" id="finalizarBtn" name="finalizar">Finalizar Solicitud</button>  
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const flashMessages = document.querySelector('.flash-messages');
        if (flashMessages) {
            setTimeout(() => {
                flashMessages.remove();
            }, 5000);
        }
  })
  

  document.querySelectorAll('.agregar-btn').forEach(button => {
    button.addEventListener('click', function() {
        const prodId = this.getAttribute('data-id');
        const row = this.closest('tr'); // Encuentra la fila más cercana al botón presionado
        const galletaNombre = row.cells[0].innerText; // Obtiene el texto del primer td de esa fila

        document.getElementById('produccionId').value = prodId;
        document.getElementById('tipoGalleta').value = galletaNombre; // Establece el nombre de la galleta en el input
        document.getElementById('formularioContainer').classList.remove('hidden'); // Muestra el formulario
    });
});

// Manejador para el botón cancelar
document.getElementById('cancelarBtn').addEventListener('click', function() {
    document.getElementById('formularioContainer').classList.add('hidden'); // Oculta el formulario
});

// Nuevo manejador para seleccionar ingrediente y actualizar unidad
document.getElementById('ingrediente').addEventListener('change', function() {
  var selectedOption = this.options[this.selectedIndex];
  var unidad = selectedOption.getAttribute('data-unidad');
  document.getElementById('unidadMedida').value = unidad;
});

</script>

{% endblock %}
