{% extends 'layouts/layout_page.html' %}
{% block content %}

<style>
	.flash-messages {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
		width: 100%;
		max-width: 600px;
		padding: 10px;
		color: #fff;
		text-align: center;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='number'],
	input[type='date'],
	input[type='time'],
	input[type='datetime-local'],
	select,
	textarea,
	input[type='search'] {
		background-color: white !important;
	}
</style>

<div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{message}}</div>
            {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold text-primary mt-5 mb-2 text-center">Solicitud de producción</h1>
    <div class="w-full flex justify-start ms-5 mb-5">
        <a href={{url_for('produccion.index')}} class="btn btn-primary mt-4 ms-5">Regresar a producción</a>
    </div>
</div>
<div class="flex justify-center">
    <div class="w-full max-w-7xl flex">
        <!-- Contenedor de la tabla -->
        <div class="table-container overflow-y-auto max-h-96 flex-grow">
            <table class="table w-full text-black">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="text-black">Tipo de galleta</th>
                        <th class="text-black">Cantidad</th>
                        <th class="text-black">Estatus</th>
                        <th class="text-black">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sol in solicitud %}
                    <tr>
                        <td>{{ sol.nombreGalleta}}</td>
                        <td>{{ sol.cantidad }}</td>
                        <td>{{ sol.estatus }}</td>
                        <td>
                            <button type="button" class="btn btn-primary toggle-card" data-id="{{ sol.idSolicitud }}">Elegir</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Justificación de rechazo card, inicialmente oculta -->
        <div class="justification-card hidden w-1/4">
            <form action="" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="card bg-white shadow-xl p-5">
                    <div class="card-body">
                        <h2 class="card-title text-black">Aceptar solicitud</h2>
                        <input type="hidden" id="accept_solicitud_id" name="solicitud_id" value="">
                        <input type="text" readonly class="input border border-gray-300 rounded-md p-2 w-full mb-4" id="galleta_nombre" name="nombreGalleta" placeholder="Nombre de la galleta">
                        <div class="card-actions justify-start flex flex-col items-start">
                            <button type="submit" name="aceptada" class="btn btn-primary mb-4">Aceptar</button>
                            <!-- Nuevo título y campo de justificación -->
                            <h2 class="card-title text-black">Rechazar solicitud</h2>
                            <textarea class="textarea border border-gray-300 rounded-md p-2 w-full mb-4" id="justificacion" name="justificacion" placeholder="Justificación"></textarea>
                            <!-- Botones de rechazar y cancelar -->
                            <div>
                                <button type="submit" name="rechazada" class="btn btn-red">Rechazar</button>
                                <button type="button" class="btn btn-accent rejected-btn ml-2">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const toggleButtons = document.querySelectorAll('.toggle-card');
        const justificationCard = document.querySelector('.justification-card');
        const acceptButtons = document.querySelectorAll('button[name="aceptada"]');
        const galletaNombreInput = document.getElementById('galleta_nombre');
        const acceptSolicitudIdInput = document.getElementById('accept_solicitud_id');
        const cancelButton = document.querySelector('.justification-card .rejected-btn');

        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                justificationCard.classList.remove('hidden');

                // Obtener el ID de la solicitud de los atributos de datos
                const solicitudId = this.getAttribute('data-id');

                // Obtener datos de la fila seleccionada
                const selectedRow = this.closest('tr');
                const galletaNombre = selectedRow.querySelector('td:first-child').textContent;

                // Asignar valores a los inputs ocultos
                acceptSolicitudIdInput.value = solicitudId;
                galletaNombreInput.value = galletaNombre;
            });
        });

        cancelButton.addEventListener('click', function() {
            justificationCard.classList.add('hidden');
            // Limpiar los valores de los campos
            galletaNombreInput.value = '';
            acceptSolicitudIdInput.value = '';
        });

        acceptButtons.forEach(button => {
            button.addEventListener('click', function() {
                // No es necesario llamar a form.submit() aquí ya que el clic del botón ya está intentando enviar el formulario
            });
        });
    });
</script>



{% endblock %}