<!DOCTYPE html>
<html lang="es" data-theme="cookies">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="shortcut icon"
			href="{{url_for('static',filename='img/logo_dg_shortcut_icon_white.webp')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='dist/css/output.css')}}"
		/>
		<title>{% block title %} Cookies and Dreams {% endblock %}</title>
	</head>
	<body class="bg-background min-h-screen overflow-y-auto">
		<nav class="bg-primary lg:w-full md:w-full sm:w-full">
			<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
				<div class="relative flex h-16 items-center justify-between">
					<div
						class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
					>
						<div
							class="flex items-center text-white font-bold text-2xl text-wrap text-center flex-row"
						>
							<a href="/" class="flex flex-row">
								<img
									width="50"
									class="object-cover"
									src="{{url_for('static',filename='img/logo_dg_shortcut_icon_white.webp')}}"
									alt="Logo"
								/>
								<span> Cookies and Dreams </span>
							</a>
						</div>
					</div>

					<div class="m-8 sm:ml-6 sm:block">
						<div class="flex space-x-4">
							<!-- Dinámico basado en roles y rutas permitidas -->
							{% for role in g.allowed_routes if role.rol == g.rol %}
							{% for route in role.routes %}
							<a
								href="{{ url_for(route.ruta) }}"
								class="text-white hover:bg-accent/60 rounded-md px-3 py-2 text-sm font-medium"
								>{{ route.name }}</a
							>
							{% endfor %} {% endfor %}

							<!-- Logout para todos -->
							<div
								class="relative text-left flex flex-row items-center"
							>
								
								<section class="flex flex-row items-center">
									<span class="text-white font-bold text-2xl"
										>{{g.nombre}}</span
									>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="white"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="lucide lucide-user-round-x mt-2 mx-2"
									>
										<path d="M2 21a8 8 0 0 1 11.873-7" />
										<circle cx="10" cy="8" r="5" />
										<path d="m17 17 5 5" />
										<path d="m22 17-5 5" />
									</svg>
									<a
									href="/logout"
									class="flex hover:bg-accent/60 text-sm text-black rounded-md px-3 py-2 font-medium me-2"
									aria-current="page"
								>
									Logout
								</a>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<main class="container mx-auto px-4">
			{% block content %} {% endblock %}
		</main>
	</body>
</html>
