<!DOCTYPE html>
<html lang="es" data-theme="corporate">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>

		<link
			rel="stylesheet"
			href="{{url_for('static',filename='dist/css/output.css')}}"
		/>
		<title>{% block title %} Cookies and Dreams {% endblock %}</title>

		<style>
			input[type='text'],
			input[type='email'],
			input[type='password'],
			input[type='number'],
			input[type='date'],
			input[type='time'],
			input[type='datetime-local'],
			input[type='search'] {
				background-color: white;
			}
		</style>
	</head>
	<section>{% block content %} {% endblock %}</section>
</html>
