{% extends 'layouts/layout_page.html' %}
{% from 'macros/_macros.html' import camposNuevos %} 

{% block title %} Venta - Cookies and Dreams {% endblock %}
    
    {% block content %}

    <style>
        html,body{
            overflow-y: hidden;
        }
        .my-auto {
            margin-top: 3rem;
        }
        .hidden{
            height: 0px;
        }
        .flash-messages {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            width: 100%;
            max-width: 600px;
            padding: 10px;
            color: #fff;
            text-align: center;
        }
        input[type='text'],
        input[type='number'],
        input[type='date'],
        input[type='datetime-local'],
        input[type='search'] {
            background-color: white;
        }
    </style>

    <section class="w-full h-screen flex flex-col">
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %} {% endif %} {% endwith %}
        </div>

        <div >
        <form id="createVenta" method="POST" class="text-black mx-auto my-auto card w-96 bg-white p-5 space-y-5">
            {{ camposNuevos(form2.created_at, class="hidden", id="created_at") }}    
            {{ camposNuevos(form2.galleta_id, class="hidden max-h-min") }}
            <span class="text-center text-2xl">Realizar una venta</span>
                
                <div>
                    <div class="">
                        {{camposNuevos(form2.galleta, id="selectG", style='padding: 0.5rem')}}
                    </div>
                    <div class="mt-2">
                        {{ camposNuevos(form2.tipoVenta)}}
                    </div>
                    <div class="mt-2">
                        {{ camposNuevos(form2.cantidad, style='padding: 0.5rem') }}
                    </div>
                    <div class="mt-2">
                        {{ camposNuevos(form2.precio_unitario, readonly="readonly", style="padding:0.5rem; color:gray;") }}
                    </div>
                    <div class="flex justify-center space-x-3">
                        <div class=''>
                            <input type="submit" value="Añadir" id="añadir" name="btn" class="btn btn-primary mt-3">
                        </div>
                        <div class="">
                            <input type="submit" value="Ver lista" id="lista" name="btn" class=" btn btn-secondary mt-3">
                        </div>
                    </div>
                </div>
                
                <div class="flex justify-center space-x-3">
                    <div class='w-full'>
                        <input type="submit" value="Vender" id="vender" name="btn" class="w-full btn btn-primary">
                    </div>
                    <div class="w-full">
                        <input type="submit" value="Cancelar" name="btn" id="cancelar" class="w-full btn btn-secondary">
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <!-- <input type="hidden" id="cantidad_galletas" value="{{ cantidad_galletas }}">      -->
            </form>
        </div>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}

        <dialog id="listaVentas" class="modal">
            <div class="modal-box">
                <span class="text-2xl">Lista de ventas</span>
                <table class="table-fixed">
                    <thead>
                        <tr>
                            <th>Galleta</th>
                            <th>Tipo Venta</th>
                            <th>Cantidad</th>
                            <th>Precio unitario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venta in lista_ventas %}
                        <tr>
                            <td>{{ venta.galleta_id }}</td>
                            <td>{{ venta.tipoVenta }}</td>
                            <td>{{ venta.cantidad }}</td>
                            <td>{{ venta.precio_unitario }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td class="">{{total}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" id="closeDialog" class="btn btn-secondary">Cerrar</button>
            </div>
        </dialog>

        
        <!-- <dialog id="redondeoDialog" class="modal">
            <div class="modal-box">
                <span class="text-2xl">Redondeo de galletas</span>
                <p>La cantidad de galletas resultante es decimal. ¿Desea agregar una galleta más?</p>
                <div class="flex justify-center mt-3">
                    <button id="agregarGalleta" class="btn btn-primary mr-2">Sí</button>
                    <button id="mantenerCantidad" class="btn btn-secondary">No</button>
                </div>
            </div>
        </dialog> -->

    </section>

    <script>


        /*añadir.addEventListener('click', function(e) {
            e.preventDefault();
            if (cantidad_galletas % 1 !== 0) {
                let redondeoDialog = document.getElementById('redondeoDialog');
                redondeoDialog.showModal();
        
                // Si el usuario decide agregar una galleta más
                document.getElementById('agregarGalleta').addEventListener('click', function() {
                    redondeoDialog.close();
                    cantidad_galletas += 1;  // Incrementar la cantidad de galletas
                    document.getElementById('createVenta').submit();
                });
        
                // Si el usuario decide mantener la cantidad actual
                document.getElementById('mantenerCantidad').addEventListener('click', function() {
                    redondeoDialog.close();
                    
                    document.getElementById('createVenta').submit();
                });
            }
        });*/



        let modal = document.getElementById('listaVentas');
        let btn = document.getElementById('lista');
        let close = document.getElementById('closeDialog');

        btn.addEventListener('click', function(e) {
            e.preventDefault();
            modal.showModal();
        });

        close.addEventListener('click', function() {
            modal.close();
        });

        document.getElementById("cantidad").addEventListener("input", function(event) {
            this.value = this.value.replace(/[^0-9]/g, '');
            this.value = this.value.replace(/^0+/, 1);
        });

        window.onload = function() {
            document.getElementById("galleta_id").value = document.getElementById("selectG").value;
            document.getElementById("created_at").value = new Date().toISOString().slice(0, 19).replace('T', ' ');

            let selectG = document.getElementById("selectG");
            let precioUnitario = document.getElementById("precio_unitario");
            let galletaId = selectG.value;
            let tipoVenta = document.querySelector("input[name='tipoVenta']:checked").value; 
            
            let precios = {
                1: {
                    "1": 52.00, //Aprox 22 galletas
                    "2": 35.00, //15 galletas
                    "3": 2.50,
                    '4': 2.50
                },
                2: {
                    "1": 70.00, //18 galletas
                    "2": 45, //12 galletas
                    "3": 4.00,
                    '4': 4.00
                },
                3: {
                    "1": 55.00, //20 galletas
                    "2": 38.00, //14 galletas
                    "3": 3.00,
                    '4': 3.00
                },
                4: {
                    "1": 52.00, //16 galletas
                    "2": 34.50, //11 galletas
                    "3": 3.50,
                    '4': 3.50
                },
                5: {
                    "1": 70.00, // 21 galletas
                    "2": 60.00, // 14 galletas
                    "3": 3.50,
                    '4': 3.50
                },
                6: {
                    "1": 55.00, //19 galletas
                    "2": 37.00, //13 galletas
                    "3": 3.00,
                    '4': 3.00
                },
                7: {
                    "1": 58.00, //20 galletas
                    "2": 40.00, //14 galletas
                    "3": 3.00,
                    '4': 3.00
                },
                8: {
                    "1": 55.00, //17 galletas
                    "2": 38.00, //12 galletas
                    "3": 3.50,
                    '4': 3.50
                },
                9: {
                    "1": 80.00, // 18 galletas
                    "2": 53.00, // 12 galletas
                    "3": 4.50,
                    '4': 4.50
                },
                10: {
                    "1": 74.00, // 20 galletas
                    "2": 52.00, // 14 galletas
                    "3": 3.80,
                    '4': 3.80
                }
            }

            let precio = precios[galletaId][tipoVenta];
            precioUnitario.value = precio;

            selectG.addEventListener("change", function() {
                document.getElementById("galleta_id").value = document.getElementById("selectG").value;
                galletaId = selectG.value;
                tipoVenta = document.querySelector("input[name='tipoVenta']:checked").value;
                precio = precios[galletaId][tipoVenta];
                precioUnitario.value = precio;
            });

            document.querySelectorAll("input[name='tipoVenta']").forEach(function(radio) {
                radio.addEventListener("change", function() {
                    galletaId = selectG.value;
                    tipoVenta = radio.value;
                    precio = precios[galletaId][tipoVenta];
                    precioUnitario.value = precio;
                });
            });
        };
  
    </script>

{% endblock %}