{% extends 'layouts/layout_page.html' %}
{% from 'macros/_macros.html' import camposNuevos %} 

{% block title %} Venta - Cookies and Dreams {% endblock %}
    
    {% block content %}

    <style>
            html,body{
                overflow-y: hidden;
            }
            .my-auto {
                margin-top: 3rem;
            }
            .flash-messages {
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1000;
                width: 100%;
                max-width: 600px;
                padding: 10px;
                color: #fff;
                text-align: center;
            }
    </style>

<section class="w-full h-screen flex flex-col">
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
    </div>

    <form class="text-black text-center mx-auto my-auto" method="POST">
        <div class="text-black mx-auto my-auto w-96 border border-gray-500 p-5 space-y-5 rounded-lg">
            <span class="text-center text-2xl">Crear una venta</span>
            <input type="submit" value="Crear" id="addVenta" name="btn" class="btn btn-accent w-full mt-2 rounded-md">
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{camposNuevos(form.venta_id, class="hidden")}}
        {{camposNuevos(form.fecha_venta, class="hidden")}}

        <div class="form-group mx-auto my-auto text-center flex flex-col border border-gray-600 p-4 rounded-md">
            <span class="text-2xl">Corte Diario</span>
            <input type="submit" name="btn" id="corte" value="Corte" class="btn btn-primary mt-2 rounded-md mx-4">
        </div>

        {% if ventas %}
            <div class="row mt-4 border bg-warning rounded-md">
                <div class="col-12">
                    <h3>Total de ventas para hoy {{ fecha }}: ${{ total }}</h3>
                </div>
            </div>
        {% endif %}
    </form>

    <script>
        document.getElementById('fecha_venta').value = new Date().toISOString().split('T')[0];
        document.getElementById('venta_id').value = ""
    </script>

    

{% endblock %}
