{% extends 'layouts/layout_page.html' %} {% from 'macros/_button.html'
import Button %} {% from 'macros/_macros.html' import camposNuevos %}
{% block title %} Dashboard - Cookies and Dreams {% endblock %} {%
block content %}

<style>
	.flash-messages {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
		width: 100%;
		max-width: 600px;
		padding: 10px;
		color: #fff;
		text-align: center;
	}
</style>
<script src="/static/js/chart.js"></script>

<section class="w-full h-screen flex flex-col">
	<!-- Sección de mensajes flash -->
	<div class="flash-messages"></div>

	<!-- Sección de las dos tarjetas principales -->
	<section class="mt-8 flex justify-between">
		<div class="card w-96 bg-neutral text-neutral-content">
			<div class="card-body">
				<h2 class="card-title text-4xl font-bold text-blue-700">
					Galleta más vendida
				</h2>
				<p class="text-2xl font-bold" id="cookie_name"></p>
			</div>
		</div>

		<div class="card w-96 bg-neutral text-neutral-content">
			<div class="card-body">
				<h2 class="card-title text-4xl font-bold text-blue-700">
					Galleta con más mermas
				</h2>
				<p class="text-2xl font-bold" id="cookie_nameM"></p>
			</div>
		</div>
		<div class="card w-96 bg-neutral text-neutral-content">
			<div class="card-body">
				<h2 class="card-title text-4xl font-bold text-blue-700">
					Galleta con utilidad más alta por ventas
				</h2>
				<p class="text-2xl font-bold" id="mayorUtilidad"></p>
			</div>
		</div>
	</section>
	<!-- Sección de gráficos -->
	<section class="grid grid-cols-2 gap-4 w-full mt-4">
		<div class="card w-full bg-neutral text-primary">
			<div class="card-body">
				<h2 class="text-xl font-bold">Ranking de galletas</h2>
				<canvas id="ranking_cookies" width="400"></canvas>
			</div>
		</div>

		<div class="card w-full bg-neutral text-primary">
			<div class="card-body">
				<h2 class="text-xl font-bold">Ranking de mermas</h2>
				<canvas id="ranking_mermas" width="400"></canvas>
			</div>
		</div>

		<div class="card w-full bg-neutral text-primary">
			<div class="card-body">
				<h2 class="text-xl font-bold">Galletas en inventario</h2>
				<canvas id="galletas_en_inventario" width="400"></canvas>
			</div>
		</div>
	</section>

	<!-- Sección de tabla de costo de producción por receta -->
	<section class="mt-8">
		<div class="card w-full bg-neutral text-neutral-content">
			<div class="card-body">
				<h2 class="text-xl font-bold card-title text-primary">
					Costo de producción por receta
				</h2>
				<table class="table mt-4">
					<thead>
						<tr class="bg-primary-700 text-neutral-content">
							<th>Receta</th>
							<th>Costo unitario</th>
							<th>Costo total</th>
							<th>Porciones</th>
							<th>Ver receta</th>
						</tr>
					</thead>
					<tbody>
						{% for receta in info_produccion %}
						<tr>
							<td>{{ receta.nombre }}</td>
							<td>$ {{ receta.costoUnitario }}</td>
							<td>
								${{ (receta.costoUnitario) * receta.totalGalletas }}
							</td>
							<td>{{ receta.totalGalletas }} unidades</td>
							<td>
								<a
									href="/recetas/{{ receta.id }}"
									class="btn btn-accent"
									target="_blank"
								>
									Ver receta
								</a>
							</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<!-- Sección de información de producción -->
	<section class="mt-8">
		<div class="card w-full bg-neutral text-primary">
			<div class="card-body">
				<h2 class="text-xl font-bold card-title">
					Información de Lotes de Producción
				</h2>
				<label for="idProd" class="text-white">
					Selecciona un lote para ver su información
				</label>
				<select
					name="idProd"
					id="idProd"
					class="select select-bordered w-full text-black"
				>
					{% for prod in produccion_ids %}
					<option value="{{ prod.id }}">Lote-{{ prod.id }}</option>
					{% endfor %}
				</select>
				<hr />

				<div class="w-full text-center">
					<span class="ml-4 mt-8 text-xl text-white">
						El empleado encargado de la producción fue :
						<span
							id="empreado"
							class="text-2xl font-bold text-yellow-400"
						></span>
					</span>
				</div>
			</div>
		</div>
	</section>
</section>

<script>
	const rankingCookies = JSON.parse('{{ ranking_cookies | safe }}');
	const ranking_mermas = JSON.parse('{{ ranking_mermas | safe }}');
	const empleado_produccion = JSON.parse(
		'{{ lista_nombres_empleados | tojson }}'
	);
	const galletasInventario = JSON.parse(
		'{{ galletas_en_inventario | safe }}'
	);

	const info_produccion = JSON.parse(
		'{{ info_produccion | tojson }}'
	);

	console.log(info_produccion);

	const produccion_ids = JSON.parse('{{ produccion_ids | tojson }}');

	document.getElementById('cookie_name').innerText = (() => {
		// Obtener el índice de la cookie con más mermas
		const maxIndex = rankingCookies.datasets[0].data.reduce(
			(prevIndex, currentValue, currentIndex, array) => {
				return currentValue > array[prevIndex]
					? currentIndex
					: prevIndex;
			},
			0
		);

		// Obtener el nombre de la cookie con más mermas
		const cookieName = rankingCookies.labels[maxIndex];

		return cookieName;
	})();

	document.getElementById('mayorUtilidad').innerText = (() => {
		// Obtener el índice de la cookie con más mermas
		const maxIndex = rankingCookies.datasets[0].data.reduce(
			(prevIndex, currentValue, currentIndex, array) => {
				return currentValue > array[prevIndex]
					? currentIndex
					: prevIndex;
			},
			0
		);

		// Obtener el nombre de la cookie con más mermas
		const cookieName = rankingCookies.labels[maxIndex];

		return cookieName;
	})();

	document.getElementById('cookie_nameM').innerText = (() => {
		// Obtener el índice de la cookie con más mermas
		const maxIndex = ranking_mermas.datasets[0].data.reduce(
			(prevIndex, currentValue, currentIndex, array) => {
				return currentValue > array[prevIndex]
					? currentIndex
					: prevIndex;
			},
			0
		);

		// Obtener el nombre de la cookie con más mermas
		const cookieName = ranking_mermas.labels[maxIndex];

		return cookieName;
	})();

	console.log(ranking_mermas);

	function cambiarEmpleado(id) {
		console.log(`id: ${id}`);
		const empleado = empleado_produccion.find(
			empleado => empleado.id === parseInt(id)
		);

		document.getElementById('empreado').innerText =
			empleado.nombre_empleado ?? 'El empleado no existe';
	}
	cambiarEmpleado(document.getElementById('idProd').value);

	document.getElementById('idProd').addEventListener('change', e => {
		const idProd = e.target.value;
		console.log(idProd);
		const empleado = empleado_produccion.find(
			empleado => empleado.id === parseInt(idProd)
		);

		document.getElementById('empreado').innerText =
			empleado.nombre_empleado ?? 'El empleado no existe';
	});

	const ctx = document
		.getElementById('ranking_cookies')
		.getContext('2d');

	new Chart(ctx, {
		type: 'bar',
		data: {
			labels: rankingCookies.labels,
			datasets: rankingCookies.datasets
		},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});

	const ctx2 = document
		.getElementById('ranking_mermas')
		.getContext('2d');

	new Chart(ctx2, {
		type: 'bar',
		data: {
			labels: ranking_mermas.labels,
			datasets: ranking_mermas.datasets
		},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});

	const ctx3 = document
		.getElementById('galletas_en_inventario')
		.getContext('2d');

	new Chart(ctx3, {
		type: 'bar',
		data: {
			labels: galletasInventario.labels,
			datasets: galletasInventario.datasets
		},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});
</script>

{% endblock %}
