{% macro addIn(for="",type="", placeholder="", id="", name="") %}
<div>
    <label class="text-gray-700" for="{{for}}">{{for}}</label>
    <input class="input input-bordered input-primary min-w-full max-w-xs"
        type="{{type}}" placeholder="{{placeholder}}" id="{{id}}"
        name="{{name}}" required>
</div>
{% endmacro %}

{% macro edin(for="", type="", id="", name="", value="") %}
<div class>
    <label for="{{for}}" class="text-gray-700">{{for}}</label>
    <input class="input input-bordered input-primary min-w-full max-w-xs" type="{{type}}" id="{{id}}" name="{{name}}" value="{{value}}">
</div>
{% endmacro %}

{% macro slcMedida(for="", id="", name="") %}
<label for="{{for}}">{{for}}</label>
<select name="{{name}}" id="{{id}}" class="select select-bordered select-primary min-w-full max-w-xs">
    <option value="" selected disabled>Seleccionar</option>
    <option value="kilos">Kilos</option>
    <option value="litros">Litros</option>
    <option value="gramos">Gramos</option>
    <option value="mililitros">Mililitros</option>
    <option value="piezas">Piezas</option>
    <option value="galones">Galones</option>
    <option value="caja">Caja</option>
    <option value="bolsa">Bolsa</option>
    <option value="paquete">Paquete</option>
    <option value="sobre">Sobre</option>
    <option value="huevos">Huevos</option>
</select>
{% endmacro %}