{% macro addMerma(for="", name="", id="", type="") %}
<div class="form-group mt-3">
	<label for="{{for}}">{{for}}</label>
	<input
		type="{{type}}"
		class="form-control"
		name="{{name}}"
		id="{{id}}"
		required
	/>
</div>
{% endmacro %}
{% macro mermaField(field) %}

<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>

{% if field.errors %}

<ul>
    {% for error in field.errors %}
    <li style="
			color: red;
			font-size: 12px;
			font-weight: bold;
			list-style: none;
		">
        {{error}}
    </li>
    {% endfor %}
</ul>

{% endif %}
{% endmacro %}
