{% macro datos(nombre,placeholder, type = "text",class="") %}
<span>
	<label for="{{nombre}}">{{nombre}}</label>
	<input
		class="{{class}}"
		type="{{type}}"
		name="{{nombre}}"
		id="{{nombre}}"
		placeholder="{{placeholder}}"
	/>
</span>

{% endmacro %} 
{% macro camposNuevos(field) %}

<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>

{% if field.errors %}

<ul>
	{% for error in field.errors %}
	<li
		style="
			color: red;
			font-size: 12px;
			font-weight: bold;
			list-style: none;
		"
	>
		{{error}}
	</li>
	{% endfor %}
</ul>

{% endif %} {% endmacro %}
