{% extends 'layouts/layout.html' %} {% from 'macros/_button.html'
import Button %} {% block title %} Home - Don Galleto {% endblock %}
{% block content %}
<h1>Home</h1>

<input type="text" id="fruta" name="fruta" />
<input type="text" id="ciudad" name="ciudad" value="Lima" />

<p>Esta es la página de inicio 2</p>

{{apellidos | safe}} {{ nombres | safe }} {{ title }} {{
Button('login', 'accent', 'Login', False, '', '/login') }}

<p class="mt-5 text-2xl text-blue-500">
	click para ver una alerta {{ Button('alert', 'primary', 'Alert',
	True, '') }}
</p>

<div id="nombres-data" data-nombres="{{ nombres | safe }}"></div>
<div id="apellidos-data" data-apellidos="{{ apellidos| safe }}"></div>

<form id="datos-form" action="/b" method="POST">
	<!-- csrf -->
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	<input type="hidden" id="datos-input" name="datos" />
	<button type="submit">Enviar Datos</button>
</form>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var ref = new Proxy(
			{},
			{
				get: function (target, prop) {
					return document.getElementById(`${prop}`).value;
				},
				set: function (target, prop, value) {
					target[prop] = value;
					document.getElementById(`${prop}`).value = value;
					return true;
				}
			}
		);

		let input = ref.fruta;
		console.log(input); // Debería ser undefined, ya que aún no se ha modificado

		ref.fruta = 'manzana';
		console.log(ref.fruta); // Debería ser 'manzana', ya que se ha modificado

		console.log(ref.ciudad); // Debería ser 'Lima', ya que ya tiene un valor por defecto

		// Ahora si el usuario cambia el valor en el input, se reflejará en ref.fruta
		document
			.getElementById('fruta')
			.addEventListener('input', function () {
				ref.fruta = this.value;

				console.log(ref.fruta);
			});

		document
			.getElementById('alert')
			.addEventListener('click', function () {
				ref.ciudad = 'Arequipa';
			});
	});
</script>

<script>
	var dataProxy = new Proxy(
		{},
		{
			get: function (target, prop) {
				return target[prop]?.replace(/'/g, '"') || '';
			},
			set: function (target, prop, value) {
				target[prop] = value;
				console.log({ prop, value, target });
				updateHiddenInput(prop, value);
				return true;
			}
		}
	);

	// Inicializar datos y proxy
	var elementosData = document.querySelectorAll('[id$="-data"]');
	elementosData.forEach(function (elementoData) {
		var nombre = elementoData.id.replace('-data', '');
		console.log(nombre);
		console.log(elementoData.dataset[nombre]);
		dataProxy[nombre] = elementoData.dataset[nombre];
	});

	// Función para actualizar el campo oculto con los datos del proxy
	function updateHiddenInput(prop, value) {
		document.getElementById('datos-input').value =
			JSON.stringify(dataProxy);

		document.getElementById(`${prop}-data`).dataset[prop] = value;
	}

	// Función para serializar un atributo data
	function serialize(attr) {
		return JSON.parse(dataProxy[attr]);
	}

	console.log(dataProxy);

	// Al hacer clic en el botón "Enviar Datos", actualiza el valor del campo oculto
	document
		.getElementById('datos-form')
		.addEventListener('submit', function () {
			//actualizar el proxy de nombres con brenda,yuri,uriel
			dataProxy.nombres = '["brenda","yuri","uriel"]';
			console.log(dataProxy.nombres);
			updateHiddenInput();
		});

	// Ejemplo de cómo utilizar la función serialize
	var nombres = serialize('nombres');
	var apellidos = serialize('apellidos');
	console.log(nombres);
	console.log(apellidos);
	//actualizar el proxy de nombres con brenda,yuri,uriel
	dataProxy.nombres = '["brenda","yuri","uriel"]';
	console.log(serialize('nombres'));
	dataProxy.apellidos = '["perez","gomez","garcia"]';
	console.log(serialize('apellidos'));
</script>

{% endblock %}
