{% extends 'layouts/layout_page.html' %} {% from 'macros/_button.html'
import Button %} {% from 'macros/_macros.html' import camposNuevos %}
{% block title %} Login - Cookies and Dreams{% endblock %} {% block
content %}

<style>
	.flash-messages {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
		width: 100%;
		max-width: 600px;
		padding: 10px;
		color: #fff;
		text-align: center;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='number'],
	input[type='date'],
	input[type='time'],
	input[type='datetime-local'],
	select,
	input[type='search'] {
		background-color: white !important;
	}
</style>

<section class="w-full h-screen flex flex-col">
	<div class="flash-messages">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %} {% for category, message in messages %}
		<div class="alert alert-{{ category }}">{{ message }}</div>
		{% endfor %} {% endif %} {% endwith %}
	</div>

  <section class="grid grid-cols-1 md:grid-cols-2  overflow-y-auto overflow-x-hidden px-8 place-content-between mt-4">
		

		<!-- imagen -->
		<div class="flex justify-center">
			

				<figure>
				
								<img src=""
										 alt="galleta"
                     id="img2"
										 
									
								/>
								
						
								<p
                class="text-pretty text-2xl font-bold text-center"
                >No se encontró ninguna imagen aun.</p>

                <!-- boton para cambiar imagen -->
                <button class="btn btn-primary" type="button" id="openDialog2" align="center">
                  Cambiar imagen
                </button>
					


				</figure>
		</div>

	
		<form method="POST" novalidate  class="card w-[600px] bg-accent shadow-xl p-4 flex flex-col justify-between text-black" enctype="multipart/form-data">
			<dialog id="changeImage" class="modal" class="text-white">
				
				<div class="modal-box px-32 py-4">
					<h1>Cambiar imagen</h1>
				<img src=""
						 alt="galleta"
						 width="200"
						 height="200"
						 id="img"
						 class="my-4"
				/>
				<input type="file" name="file" id="file"
				class="file-input file-input-bordered w-full max-w-xs bg-white"  
				>

				
				<div class="modal-action" class="my-4">
					<input type="submit" name="change" value="Cambiar" class="btn btn-primary">
				<button
						type="button"
						id="closeDialog2"
						class="btn btn-error"
						>Cerrar</button>
				</div>
				</div>
			</dialog>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			
			
	
			<div>
					{% if not isEdit %}
							
							<h2
							class="text-pretty text-2xl font-bold text-center text-white"
							>Ingredientes</h2>
							<div class="w-full flex flex-col justify-center items-center my-4">
								<span class="text-pretty text-lg">
									<span class="text-white">
										Peso: 
									</span>
									{{ receta.pesoGalleta }} gramos
								</span>
								<span class="text-pretty text-lg">
									Porciones: {{ receta.totalGalletas }} galletas
								</span>
	
							</div>
							<ul>
									{% for ingrediente in ingredientes %}
											<li
											class="text-pretty text-lg "
											>{{ ingrediente.cantidad}} {{ ingrediente.tipo}} {{ ingrediente.material}}</li>
									{% endfor %}
							</ul>
							<p class="text-pretty text-lg my-4">{{ receta.receta }}</p>
							<input type="submit" name="edit" value="Editar" class="btn btn-primary">
							<a href="/recetas"
							class="btn btn-error"
							>Regresar</a>
							
					{% else %}
							<!-- Mostrar como tabla y text area -->
              <div>
                <label>
                 Nombre
                 <input type="text" name="nombre" class="input input-bordered w-full max-w-xs" value="">
                </label>
               </div>
              <div>
                <div>
                  <label>
                   Precio
                   <input type="text" name="precio" class="input input-bordered w-full max-w-xs" value="">
                  </label>
                 </div>
               <label>
                Peso
                <input type="text" name="pesoGalleta" class="input input-bordered w-full max-w-xs" value="">
               </label>
              </div>
              <div>
                <label class="block">
                 Porciones
                 <input type="text" name="totalGalletas" class="input input-bordered w-full max-w-xs" value="">
                </label>
               </div>
               <div>
                <label>
                 descripcion
                 <input type="text" name="descripcion" class="input input-bordered w-full max-w-xs" value="">
                </label>
               </div>
               <div>
                <label>
                 receta
                 <textarea name="receta" id="receta" cols="30" rows="10"></textarea>
                </label>
               </div>

               

						
						
	
							<div class="flex justify-between my-4">
								<input type="submit" name="save" value="Guardar" class="btn btn-primary">
							<input type="submit" name="regret" value="Cancelar" class="btn btn-error">
							<button id="openDialog" class="btn btn-primary" type="button">
								Agregar ingrediente
							</button>
							</div>
						
					{% endif %}
			</div>
	</form>

	

	<script>
    const dialog = document.getElementById('addIngrediente');
    const dialog2 = document.getElementById('changeImage');
    const openDialog = document.getElementById('openDialog');
    const openDialog2 = document.getElementById('openDialog2');
    const closeDialog2 = document.getElementById('closeDialog2');
    const img = document.getElementById('img');
    const img2 = document.getElementById('img2');
    const fileInput = document.getElementById('file'); // Cambiado a fileInput para evitar la duplicación de nombres

    
    openDialog2.addEventListener('click', () => {
        dialog2.showModal();
    });

    closeDialog2.addEventListener('click', () => {
        dialog2.close();
        // Limpiar el input file
        fileInput.value = '';
        img.src = ''; // Limpiar la imagen
    });

    fileInput.addEventListener('change', () => {
        const file = fileInput.files[0]; // Obtener el primer archivo seleccionado
        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
                img2.src = event.target.result;
                dialog2.close();
            };
            reader.readAsDataURL(file);
        }
    });
</script>

	
</section>


		<script>
			const flashMessage = document.querySelector('.flash-messages');
			if (flashMessage) {
				setTimeout(() => {
					flashMessage.remove();
				}, 5000);
			}
		</script>
	</section>
</section>
	{% endblock %}
