{% extends 'layouts/layout_page.html' %} {% from 'macros/_button.html'
import Button %} {% from 'macros/_macros.html' import camposNuevos %}
{% block title %} Login - Cookies and Dreams{% endblock %} {% block
content %}

<style>
	.flash-messages {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
		width: 100%;
		max-width: 600px;
		padding: 10px;
		color: #fff;
		text-align: center;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='number'],
	input[type='date'],
	input[type='time'],
	input[type='datetime-local'],
	input[type='search'] {
		background-color: white;
	}
</style>

<section class="w-full h-screen flex flex-col">
	<div class="flash-messages">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %} {% for category, message in messages %}
		<div class="alert alert-{{ category }}">{{ message }}</div>
		{% endfor %} {% endif %} {% endwith %}
	</div>

	<section
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 overflow-y-auto"
	>
		{% for receta in recetas %}
		<div class="card w-96 bg-accent shadow-xl">
			<figure>
				<img
					src="{{ url_for('static', filename='img/' + receta.id|string + '.webp') }}"
					alt="{{ receta.nombre }}"
					width="100"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title">{{ receta.nombre }}</h2>
				<p>{{ receta.descripcion }}</p>
				<div class="card-actions justify-end">
					<a
					class="btn btn-primary"
					href={{url_for('recetas.show', id=receta.id)}}>Ver</a>

				</div>
				
			</div>
		</div>
		{% endfor %}
	</section>

	<script>
		const flashMessage = document.querySelector('.flash-messages');
		if (flashMessage) {
			setTimeout(() => {
				flashMessage.remove();
			}, 5000);
		}
	</script>
</section>
{% endblock %}
