{% extends 'layouts/layout_page.html' %} {% from 'macros/_button.html'
import Button %} {% from 'macros/_compras.html' import lblipt %}
{% block title %}Compras{% endblock %}
{% block content %}

<section class="w-full h-screen flex flex-col">
    <!-- Flash meesage -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
    </div>

    <!-- Button Add Purchase -->
    <div class="md:contaner px-4">
        <section class="mt-3">
            <button class="btn btn-primary" id="btnAddPurchase">
                Agregar Compra
            </button>
            <button>
                <a href="{{url_for('inventario_mp.index')}}"
                    class="btn btn-primary">
                    Inventario
                </a>
            </button>
        </section>
    </div>

    <!-- Table Compras -->
    <div class="md:contaner px-4">
        <section class="mt-5">
            <div class="relative overflow-x-auto">
                <table
                    class="w-full text-md text-left rtl:text-right text-black">
                    <thead
                        class="text-md uppercase bg-transparent text-center border-b-2 border-b-black">
                        <tr>
                            <th scope="col" class="px-6 py-3">Proveedor</th>
                            <th scope="col" class="px-6 py-3">Usuario</th>
                            <th scope="col" class="px-6 py-3">Materia Prima</th>
                            <th scope="col" class="px-6 py-3">Cantidad</th>
                            <th scope="col" class="px-6 py-3">Precio</th>
                            <th scope="col" class="px-6 py-3">Tipo</th>
                            <th scope="col" class="px-6 py-3">Fecha</th>
                            <th scope="col" class="px-6 py-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody
                        class="bg-transparent border-b text-center">
                        {% if cont > 0 %}
                        {% for compra in compras %}
                        <tr id="compra_{{compra.id}}">
                            <td class="border px-6 py-3">{{ compra.proveedor
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.usuario
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.material
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.cantidad
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.precio
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.tipo }}</td>
                            <td class="border px-6 py-3">{{ compra.fecha }}</td>
                            <td class="border px-6 py-3">
                                <button type="button"
                                    class="btn btn-primary"
                                    id="details_{{compra.id}}">
                                    Ver Detalles
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="8" class="text-center">No hay
                                compras</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <!-- Dialog Add Purchase -->
    <form action="{{url_for('compras.purchase')}}" novalidate method="POST">
        <div class="card">
            <dialog id="addPurchase" class="dialog p-6 bg-white shadow-lg rounded-md">
                <div class="dialog-title">
                    <h3 class="text-lg font-semibold">Agregar Compra</h3>
                </div>
                <div class="dialog-content">
                    <input type="text" hidden name="csrf_token"
                        value="{{ csrf_token() }}" />
                    <div class="mt-3">
                        <label for="provider" class="text-gray-700">Proveedor</label>
                        <select class="select select-bordered min-w-full max-w-xs" name="slcProvider"
                            id="slcProvider">
                            <option value selected disabled>Seleccione un
                                proveedor</option>
                            {% for provider in proveedores_list %}
                            <option class="text-black"
                                value="{{ provider.id }}">{{
                                provider.nombre_empresa
                                }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mt-3" id="btnsRows" hidden>
                        <button type="button" class="btn btn-primary"
                            id="btnAddRow">
                            Agregar fila
                        </button>
                        <button type="button" class="btn btn-danger"
                            id="btnRemoveRow">
                            Eliminar fila
                        </button>
                    </div>
                    <div id="rowMatPrim"></div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">
                            Solicitar
                        </button>
                        <button type="button" class="btn btn-danger"
                            id="btnClosePurchase">
                            Cerrar
                        </button>
                    </div>
                </div>
            </dialog>
        </div>
    </form>
</section>

<!-- JavaScript Dialogs -->
<script>
    const flashMessage = document.querySelector(".flash-messages");
    if (flashMessage) {
        setTimeout(() => {
        flashMessage.remove();
        }, 5000);
    }

    const btnAddPurchase = document.getElementById("btnAddPurchase");
    const addPurchase = document.getElementById("addPurchase");
    const btnClosePurchase = document.getElementById("btnClosePurchase");
    const slcProvider = document.getElementById("slcProvider");
    const rowMatPrim = document.getElementById("rowMatPrim");
    const btnAddRow = document.getElementById("btnAddRow");
    const btnRemoveRow = document.getElementById("btnRemoveRow");
    const btnsRows = document.getElementById("btnsRows");
    const slcMateriaPrima = document.getElementById("slcMateriaPrima");

    btnAddPurchase.addEventListener("click", () => {
        addPurchase.showModal();
    });

    btnClosePurchase.addEventListener("click", () => {
        addPurchase.close();

        rowMatPrim.innerHTML = "";
        btnsRows.setAttribute("hidden", true);
    });

    slcProvider.addEventListener("change", function () {
        const selectedProveedorId = this.value;
        rowMatPrim.innerHTML = ""; 

        fetch('/compras/materia_prima', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': "{{ csrf_token() }}"
            },
            body: JSON.stringify({ proveedor_id: selectedProveedorId })
        }).
        then(response => response.json()).
        then(data => {
            var optionsHtml = "<option value='' disabled selected>Seleccionar</option>";
            
            data.forEach((materia_prima) => {
                optionsHtml += `<option class="text-black" value="${materia_prima.id} - ${materia_prima.presentacion}">${materia_prima.material} - ${materia_prima.presentacion}</option>`;
            });

            const newRow = `
            <div class="form-group mt-3">
                <label for="materia_prima">Materia Prima</label>
                <select class="form-control" name="slcMateriaPrima[]" id="slcMateriaPrima">
                    ${optionsHtml}
                </select>
            </div>
            <div class="form-group mt-3">
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control" name="txtCantidad[]">
            </div>
            <div class="form-group mt-3">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" name="txtPrecio[]">
            </div>
            <div class="form-group mt-3">
                <label for="fecha">Fecha caducidad</label>
                <input type="date" class="form-control" name="txtCaducidad[]">
            </div>
            `;
            rowMatPrim.innerHTML = newRow;
            });

        btnsRows.removeAttribute("hidden");
    });

    btnAddRow.addEventListener("click", function(){
        const slcProvider = document.getElementById("slcProvider");

        fetch('/compras/materia_prima', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': "{{ csrf_token() }}"
            },
            body: JSON.stringify({ proveedor_id: slcProvider.value })
        }).then(response => response.json()).
        then(data => {
            var optionsHtml = "<option value='' disabled selected>Seleccionar</option>";
            
            data.forEach((materia_prima) => {
                optionsHtml += `<option class="text-black" value="${materia_prima.id}">${materia_prima.material} - ${materia_prima.presentacion}</option>`;
            });

            const newRow = `
            <div class="form-group mt-3">
                <label for="materia_prima">Materia Prima</label>
                <select class="form-control" name="slcMateriaPrima[]" id="slcMateriaPrima">
                    ${optionsHtml}
                </select>
            </div>
            <div class="form-group mt-3">
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control" name="txtCantidad[]">
            </div>
            <div class="form-group mt-3">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" readonly name="txtPrecio[]">
            </div>
            <div class="form-group mt-3">
                <label for="fecha">Fecha caducidad</label>
                <input type="date" class="form-control" name="txtCaducidad[]">
            </div>
            `;
            rowMatPrim.innerHTML += newRow;
        });
    });

    btnRemoveRow.addEventListener("click", function(){
        var totalChildren = rowMatPrim.children.length;
        
        if (totalChildren > 4) {
            for (var i = 0; i < 4; i++) {
                rowMatPrim.removeChild(rowMatPrim.lastElementChild);
            }
        }
    });
</script>
{% endblock %}