{% extends 'layouts/layout_page.html' %} {% from 'macros/_button.html'
import Button %} {% from 'macros/_compras.html' import lblipt,compra_field %}
{% block title %}Compras{% endblock %}
{% block content %}

<style>
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='number'],
    input[type='date'],
    input[type='time'],
    input[type='datetime-local'],
    select,
    input[type='search'] {
        background-color: white !important;
    }
</style>

<section class="w-full h-screen flex flex-col">
    <!-- Flash meesage -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
    </div>

    <h1
        class="text-3xl font-bold text-primary mt-3 text-center">Compras</h1>

    <!-- Button Add Purchase -->
    <div class="md:contaner px-4">
        <section class="mt-3">
            <button class="btn btn-primary float-end mx-3 text-white"
                id="btnAddPurchase">
                Agregar Compra
            </button>
            <button class="btn btn-info float-end text-white">
                <a href="{{url_for('inventario_mp.index')}}" class>
                    Inventario
                </a>
            </button>
        </section>
    </div>

    <!-- Table Compras -->
    <div class="md:contaner px-4">
        <section class="mt-5">
            <div class="relative overflow-x-auto">
                <table
                    class="w-full text-md text-left rtl:text-right text-black">
                    <thead
                        class="text-md uppercase bg-transparent text-center border-b-2 border-b-black">
                        <tr>
                            <th scope="col" class="px-6 py-3">Proveedor</th>
                            <th scope="col" class="px-6 py-3">Usuario</th>
                            <th scope="col" class="px-6 py-3">Materia Prima</th>
                            <th scope="col" class="px-6 py-3">Cantidad</th>
                            <th scope="col" class="px-6 py-3">Precio</th>
                            <th scope="col" class="px-6 py-3">Tipo</th>
                            <th scope="col" class="px-6 py-3">Fecha</th>
                        </tr>
                    </thead>
                    <tbody class="bg-transparent border-b text-center">
                        {% if cont > 0 %}
                        {% for compra in compras %}
                        <tr id="compra_{{compra.id}}">
                            <td class="border px-6 py-3">{{ compra.proveedor
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.usuario
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.material
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.cantidad
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.precio
                                }}</td>
                            <td class="border px-6 py-3">{{ compra.tipo }}</td>
                            <td class="border px-6 py-3">{{ compra.fecha }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <!-- Dialog Add Purchase -->
    <form action="{{url_for('compras.purchase')}}" novalidate method="POST">
        <div class="card">
            <dialog id="addPurchase"
                class="dialog p-6 bg-base-100 shadow-lg rounded-md">
                <div class="dialog-title">
                    <h3 class="text-lg font-semibold">Agregar Compra</h3>
                </div>
                <div class="dialog-content">
                    <div class="grid grid-cols-2 gap-4 mb-4">
                        <input type="text" hidden name="csrf_token"
                            value="{{ csrf_token() }}" />
                        <div>
                            <div class="mt-3">
                                <label for="provider"
                                    class="text-gray-700">Proveedor</label>
                                <select
                                    class="select select-bordered select-primary min-w-full max-w-xs"
                                    name="slcProvider" id="slcProvider">
                                    <option value selected disabled>Seleccione
                                        un
                                        proveedor</option>
                                    {% for provider in proveedores_list %}
                                    <option class="text-black"
                                        value="{{ provider.id }}">{{
                                        provider.nombre_empresa
                                        }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="grid grid-cols-2 gap-4 mt-4"
                                id="btnsRow">
                                <div>
                                    <button type="button"
                                        class="btn btn-secondary w-auto"
                                        id="btnAddRow">
                                        Agregar otro insumo
                                    </button>
                                </div>
                                <div>
                                    <button type="button"
                                        class="btn btn-neutral w-auto"
                                        id="btnRemoveRow">
                                        Eliminar ultimo insumo
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div id="rowMatPrim">

                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between mt-4">
                        <button type="submit" class="btn btn-warning w-52">
                            Solicitar
                        </button>
                        <button type="button"
                            class="btn btn-error w-48 text-white"
                            id="btnClosePurchase">
                            Cerrar
                        </button>
                    </div>
                </div>
            </dialog>
        </div>
    </form>
</section>

<!-- JavaScript Dialogs -->
<script>
    var options = {{ options | tojson }};
</script>
<script>
    const flashMessage = document.querySelector(".flash-messages");
    if (flashMessage) {
        setTimeout(() => {
            flashMessage.remove();
        }, 5000);
    }

    const btnAddPurchase = document.getElementById("btnAddPurchase");
    const addPurchase = document.getElementById("addPurchase");
    const btnClosePurchase = document.getElementById("btnClosePurchase");
    const slcProvider = document.getElementById("slcProvider");
    const rowMatPrim = document.getElementById("rowMatPrim");
    const slcMateriaPrima = document.getElementById("slcMateriaPrima");
    const btnsRow = document.getElementById("btnsRow");
    const btnAddRow = document.getElementById("btnAddRow");
    const btnRemoveRow = document.getElementById("btnRemoveRow");

    btnAddPurchase.addEventListener("click", () => {
        addPurchase.showModal();
        btnsRow.style.display = "none";
    });

    btnClosePurchase.addEventListener("click", () => {
        addPurchase.close();

        rowMatPrim.innerHTML = "";
    });

    slcProvider.addEventListener("change", function () {
        const selectedProveedorId = this.value;
        let optionsHTML = "<option value='' disabled selected>Seleccionar</option>";

        rowMatPrim.innerHTML = "";

        options.forEach((option) => {
            if (option.id_proveedor == selectedProveedorId) {
                var mats = option.mats;

                mats.forEach((mat) => {
                    optionsHTML += `<option value="${mat.id}-${mat.presentacion}">${mat.material} - ${mat.presentacion}</option>`;
                });
            }
        });

        const newRow = `
            <div class="mt-3">
                <div class="mt-1">
                    <label for="materia_prima">Materia Prima</label>
                    <select class="select select-bordered select-primary w-full max-w-xs text-black" name="slcMateriaPrima[]" id="slcMateriaPrima">
                        ${optionsHTML}
                    </select>
                </div>
                <div class="mt-1">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" min="1" oninput="this.value = Math.abs(this.value)" class="input input-bordered input-primary w-full max-w-xs text-black" name="txtCantidad[]">
                </div>
                <div class="mt-1">
                    <label for="precio">Precio unitario</label>
                    <input type="number" min="1" oninput="this.value = Math.abs(this.value)" class="input input-bordered input-primary w-full max-w-xs text-black" name="txtPrecio[]">
                </div>
                <div class="mt-1">
                    <label for="fecha">Fecha de caducidad</label>
                    <input type="date" class="input input-bordered input-primary w-full max-w-xs text-black" name="txtCaducidad[]">
                </div>
            </div>`;


        rowMatPrim.innerHTML = newRow;

        btnsRow.style.display = "flex";

        const inputs = document.getElementsByTagName("input");

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener("keypress", function (event) {
                var inputType = this.type;
                var inputName = this.name;

                var charCode = event.keyCode || event.which;

                var charAllowed;

                if (inputName.includes("txtCantidad")){
                    charAllowed = /[1-9]/;
                }

                if (inputName.includes("txtPrecio")) {
                    charAllowed = /[1-9.]/;
                }

                if (!charAllowed.test(String.fromCharCode(charCode))) {
                    event.preventDefault();
                }
            });
        }

    });

    btnAddRow.addEventListener("click", () => {
        const selectedProveedorId = slcProvider.value;

        let optionsHTML = "<option value='' disabled selected>Seleccionar</option>";

        options.forEach((option) => {
            if (option.id_proveedor == selectedProveedorId) {
                var mats = option.mats;

                mats.forEach((mat) => {
                    optionsHTML += `<option value="${mat.id}-${mat.presentacion}">${mat.material} - ${mat.presentacion}</option>`;
                });
            }
        });

        const newRow = `
                <div class="mt-3">
                    <div class="mt-1">
                        <label for="materia_prima">Materia Prima</label>
                        <select class="select select-bordered select-primary w-full max-w-xs text-black" name="slcMateriaPrima[]" id="slcMateriaPrima">
                            ${optionsHTML}
                        </select>
                    </div>
                    <div class="mt-1">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" min="1" oninput="this.value = Math.abs(this.value)" class="input input-bordered input-primary w-full max-w-xs text-black" name="txtCantidad[]">
                    </div>
                    <div class="mt-1">
                        <label for="precio">Precio unitario</label>
                        <input type="number" min="1" oninput="this.value = Math.abs(this.value)" class="input input-bordered input-primary w-full max-w-xs text-black" name="txtPrecio[]">
                    </div>
                    <div class="mt-1">
                        <label for="fecha">Fecha de caducidad</label>
                        <input type="date" class="input input-bordered input-primary w-full max-w-xs text-black" name="txtCaducidad[]">
                    </div>
                </div>`;

        rowMatPrim.insertAdjacentHTML("beforeend", newRow);


    });

    btnRemoveRow.addEventListener("click", () => {
        const rows = rowMatPrim.children;

        if (rows.length > 4) {
            rowMatPrim.removeChild(rows[rows.length - 1]);
            rowMatPrim.removeChild(rows[rows.length - 1]);
            rowMatPrim.removeChild(rows[rows.length - 1]);
            rowMatPrim.removeChild(rows[rows.length - 1]);
        }
    });
</script>
{% endblock %}