{% extends 'layouts/layout_page.html' %} {% from 'macros/_button.html'
import Button %} {% from 'macros/_inventario_mp.html' import addMerma,mermaField
%} {% block title %}Inventario de Materia Prima{% endblock %} {% block
content %}

<section class="w-full h-screen flex flex-col">
	<!-- Flash meesage -->
	<div class="flash-messages">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %} {% for category, message in messages %}
		<div class="alert alert-{{ category }}">{{ message }}</div>
		{% endfor %} {% endif %} {% endwith %}
	</div>

	<div role="tablist" class="tabs tabs-bordered mt-5">
		<input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Inventario" checked />
		<div role="tabpanel" class="tab-content p-10">
			<!-- Table Inventario -->
			<div class="md:contaner px-4">
				<section class="mt-5">
					<div class="relative overflow-x-auto">
						<table class="w-full text-sm text-left rtl:text-right text-black">
							<thead class="text-md uppercase bg-transparent text-center border-b-2 border-b-black">
								<tr>
									<th scope="col" class="px-6 py-3">Materia prima</th>
									<th scope="col" class="px-6 py-3">Cantidad</th>
									<th scope="col" class="px-6 py-3">
										Unidad de Medida
									</th>
									<th scope="col" class="px-6 py-3">Proveeedor</th>
									<th scope="col" class="px-6 py-3">Caducidad</th>
									<th scope="col" class="px-6 py-3">
										Fecha de compra
									</th>
									<th scope="col" class="px-6 py-3">Estatus</th>
									<th scope="col" class="px-6 py-3">Merma</th>
									<th scope="col" class="px-6 py-3">Acciones</th>
								</tr>
							</thead>
							<tbody class="bg-transparent border-b text-center">
								{% for materia_prima in materia_primas %}
								<tr>
									<td class="px-6 py-3">
										{{ materia_prima.nombre }}
									</td>
									<td class="px-6 py-3">
										{{ materia_prima.cantidad }}
									</td>
									<td class="px-6 py-3">
										{{ materia_prima.unidad_medida }}
									</td>
									<td class="px-6 py-3">
										{{ materia_prima.proveedor }}
									</td>
									<td class="px-6 py-3">
										{{ materia_prima.caducidad }}
									</td>
									<td class="px-6 py-3">
										{{ materia_prima.fecha_compra }}
									</td>
									<td class="px-6 py-3">
										{{ materia_prima.estatus }}
									</td>
									<td class="px-6 py-3">{{ materia_prima.merma }}</td>
									<td class="px-6 py-3">
										<button class="btn btn-primary" type="button"
											id="btnAddMerma_{{materia_prima.id}}">
											Mermar
										</button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>

		<input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Mermas" />
		<div role="tabpanel" class="tab-content p-10">
			<!-- Table Mermas -->
			<div class="md:container px-4">
				<section class="mt-5">
					<div class="relative overflow-x-auto">
						<table class="w-full text-sm text-let rtl:text-right text-black">
							<thead class="text-md uppercase bg-transparent text-center border-b-2 border-b-black">
								<tr>
									<th scope="col" class="px-6 py-3">Materia prima</th>
									<th scope="col" class="px-6 py-3">Causa merma</th>
									<th scope="col" class="px-6 py-3">
										Fecha de merma
									</th>
									<th scope="col" class="px-6 py-3">
										Cantidad mermada
									</th>
									<th scope="col" class="px-6 py-3">
										Justificaci&oacute;n
									</th>
									<th scope="col" class="px-6 py-3">Proveedor</th>
								</tr>
							</thead>
							<tbody class="bg-transparent border-b text-center">
								{% for merma in mermas %}
								<tr>
									<td class="px-6 py-3">{{ merma.material }}</td>
									<td class="px-6 py-3">{{ merma.merma_tipo }}</td>
									<td class="px-6 py-3">{{ merma.merma_fecha }}</td>
									<td class="px-6 py-3">{{ merma.cantidad }}</td>
									<td class="px-6 py-3">{{ merma.justificacion }}</td>
									<td class="px-6 py-3">
										{{ merma.nombre_empresa }}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
	</div>

	<!-- Dialog Add Merma -->
	<form action="{{url_for('inventario_mp.new_merma')}}" novalidate method="POST">
		<div class="card">
			<dialog class="dialog p-6 bg-white shadow-lg rounded-md" id="addMerma">
				<div class="dialog-title">
					<h3 class="text-lg font-bold">Agregar merma</h3>
				</div>
				<div class="dialog-content">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="id" id="id" />
					<div class="grid grid-cols-2 gap-4 mb-3 mt-3">
						<div>
							<div class="mt-3">
								{{ mermaField(formM.merma_tipo) }}
							</div>
							<div class="mt-3">
								{{ mermaField(formM.merma_fecha) }}
							</div>
							<div class="mt-3">
								{{ mermaField(formM.cantidad)
								}}
							</div>
						</div>
						<div>
							<div class="mt-3">
								{{ mermaField(formM.justificacion) }}
							</div>
						</div>
					</div>
					<div class="flex justify-between mt-4">
						<button type="submit" class="btn btn-primary">
							Agregar merma
						</button>
						<button type="button" class="btn btn-danger" id="btnCloseMerma">
							Cerrar
						</button>
					</div>
				</div>
			</dialog>
		</div>
	</form>
</section>

<!-- JavaScript -->
<script>
	const flashMessage = document.querySelector('.flash-messages');
	if (flashMessage) {
		setTimeout(() => {
			flashMessage.remove();
		}, 5000);
	}

	const current_date = new Date().toISOString().split('T')[0];
	const btnCloseMerma = document.getElementById('btnCloseMerma');
	const slcMerma = document.getElementById('slcMerma');
	const dialog = document.getElementById('addMerma');

	document.querySelectorAll('[id^="btnAddMerma_"]').forEach(button => {
		button.addEventListener('click', (e) => {
			const id = button.id.split("_")[1];
			document.querySelector("#id").value = id;
			dialog.showModal();
		});
	});

	btnCloseMerma.addEventListener('click', () => {
		dialog.close();
	});
</script>
{% endblock %}